RewriteEngine On
RewriteRule ^\.github/api\.txt$ .github/api.txt [L]
RewriteRule ^contents$ contents.php [L]
RewriteRule ^extension$ extension.php [L]
RewriteRule ^extension/@me$ extension_me.php [L]
RewriteRule ^extension/@me/(activity|theme|browser-title|font|ui|sync|ip)$ extension_action.php?action=$1 [L]
RewriteRule ^auth/status$ auth_status.php [L]
RewriteRule ^auth/signin$ auth_signin.php [L]
RewriteRule ^auth/signup$ auth_signup.php [L]
RewriteRule ^auth/refresh$ auth_refresh.php [L]
RewriteRule ^auth/oauth/google$ auth_oauth_google.php [L]
RewriteRule ^users/@me/complete-wizard$ complete_wizard.php [L]
RewriteRule ^users/@me/moods/status$ mood_status.php [L]
RewriteRule ^users/@me/rewards/code$ users_rewards_code.php [L]
RewriteRule ^users/@me/rewards$ users_rewards.php [L]
RewriteRule ^currencies/supported-list$ currencies_supported_list.php [L]
RewriteRule ^currencies/([^/]+)$ currency.php?code=$1 [L]
RewriteRule ^date/timezones$ date_timezones.php [L]
RewriteRule ^date/events$ date_events.php [L]
RewriteRule ^date/owghat$ date_owghat.php [L]
RewriteRule ^wallpapers/categories$ wallpaper_categories.php [L]
RewriteRule ^wallpapers$ wallpapers.php [L]
RewriteRule ^market/@me/inventory$ market_inventory.php [L]
RewriteRule ^market/purchase$ market_purchase.php [L]
RewriteRule ^market$ market.php [L]
RewriteRule ^google/events$ google_events.php [L]
RewriteRule ^google/disconnect$ google_disconnect.php [L]
RewriteRule ^extension/emojis$ emojis.php [L]
